* {
    margin: 0;
    padding:0;
    box-sizing: border-box;
    -moz-box-sizing: border-box; /* Firefox */
    -ms-box-sizing: border-box; /* INternet Explorer */
    -webkit-box-sizing: border-box; /* Goolge chrome & Safari */
    
    -moz-user-select: none;
    -ms-box-sizing-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}
html{
    background-color: rgb(240, 116, 158);
}

#h1{
    color: #f2f2f2;
    text-align: center;
    font-size: 90px;
    margin-top: 0px;
    font-weight: bold;
    letter-spacing: 3px;
    word-spacing: 7px;
    text-shadow: 4px 4px 5px rgba(29, 28, 28, 0.5);
}

#updates{
    float: right;
    font-size: 40px;
    margin:100px 130px 100px;
}

#game{
    float: left;
    width: 785px;
    height:auto;
    margin:40px 20px 20px 100px;
}
#timer{
    margin:50px;
    margin-left:45px;
    text-align: center;
    color: white;
    text-shadow: 1.5px 1.5px 2px rgba(29, 28, 28, 0.5);
    font-weight: 500;
    background:#222;
    padding: 5px 20px;
}
#score{
    margin:50px;
    margin-left:38px;
    text-shadow: 1.5px 1.5px 2px rgba(29, 28, 28, 0.5);
    color: white;
    font-weight: 500;
    background:#222;
    padding: 5px 20px;
    text-align: center;
}
#new{
    background-color: white;
    color: rgb(219, 18, 52);
    margin:16px;
    font-size:40px;
    font-weight: 500;
    text-shadow: 2px 2px 2px rgba(29, 28, 28, 0.5);
    border:3px solid grey;
    box-shadow: 2px 2px 13px 0px rgb(110, 107, 106);
    font-family: serif;
    border-radius: 6px;
    padding:5px 10px;
}
#new:hover{
    cursor:pointer;
    background-color: rgb(14, 116, 45);
    color: #fff;
}
.cards{
    width:18.5%;
    height:125px;
    border: 1px solid blueviolet;
    display:inline-block;
    margin:2px;
    float: left;
    background-color: white;
}
img{
    width:140px;
    height:105px;
}
.cards:hover{
    cursor: pointer;
    color: rgb(175, 8, 41);
}
.front{
    position: absolute;
    width:150px;
    height:125;
    font-size: 120px;
    font-weight: bolder;
    text-align: center;
    /* padding: 0px 5px 50px 2%; */
    margin:0px;
    text-shadow: 4px 3px 7px rbga(94, 119, 115, 0.82);
    transform:rotateY(0deg);
    transition: transform 0.5s linear 0s; /*transition: property time-durattion type delay;*/
    backface-visibility: hidden;
}
.back{
    position: absolute;
    width:150px;
    height:125;
    padding:5px;
    transform:rotateY(180deg);
    transition: transform 0.5s linear 0s; /*transition: property time-durattion type delay;*/
    backface-visibility: hidden;
}
#opacity{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    opacity:0.7;
    background-color: black;
    z-index: 10;
}
#result{
    z-index: 10;
    position: fixed;
    width:500px;
    height:320px;
    padding:2px;
    height:auto;
}
#popBody{
    background-color: white;
    height:250px;
    border-style: solid;
    border-width: 2px 2px 0px 2px;
    border-color:#511591;
    border-top-right-radius: 7px;
    border-top-left-radius: 7px;
}
#imgDiv{
    position:relative;
    top:10px;
    width:100px;
    height:107px;
    margin: 20px auto;
}
#imgDiv img{
    width:100px;
    height:107px;
}
#h1Res{
    margin: 0px 12px 12px 12px;
    text-align: center;
    font-family: cursive;
    color: #971313;
}
#pRes{
    color: #971313;
    font-family: cursive;
    text-align: center;
    font-size: 20px;   
}
#popOkay{
    height:100px;
    background-color:#d33640;
    padding:25px;
    border-style: solid;
    border-width: 0px 2px 2px 2px;
    border-color:#511591;
    border-bottom-right-radius: 7px;
    border-bottom-left-radius: 7px;
}
#okayButton{
    height: 50px;
    width:95px;
    margin: 0px auto;    
}
#okayButton button{
    height: 50px;
    width:95px;
    text-align:center;
    font-size: 18px;
    background-color: #4d0000;
    color:white;
    box-shadow: 0px 2px 2px 0.5px rgba(128, 122, 122, 0.5);  /*horizontal vertical spread blurry opacity*/
    text-shadow: 0px 2px 2px rgba(145, 137, 137, 0.3);
    border-radius: 5px;
    border:none;
    cursor: pointer;
    outline:none;
}
/* #head, #game, #updates{
    display:none;
}  */
 #opacity, #result{
    display:none;
}

@media only screen and (max-width: 1300px) {
    #game{
        width: 80%;
        margin-left:10%;
        margin-top:2%;
    }
    #h1{
        font-size: 40px;
    }
    img{
        width:95%;
        height:100px;
    }
  
    .front{
        font-size:100px ;
    }
    #updates{
        font-size: 20px;
        margin:10px 130px 10px;
       
    }
    #timer{
        margin: 10px 100px;
       
    }
    #score{
        margin:10px 100px;
    }
    #new{
        font-size: 25px;
        margin: 10px 100px;
    }
}


@media only screen and (max-width: 900px) {
    #game{
        width: 80%;
        margin-left:10%;
    }
    #h1{
        font-size: 40px;
    }
    img{
        width:45px;
        height:70px;
    }
    .cards{
        height:90px;
    }
    .front{
        font-size:80px ;
        width:100px;
    }
    #updates{
        font-size: 20px;
        margin:10px 130px 10px;
    }
    #timer{
        margin: 10px 50px;
       
    }
    #score{
        margin:10px 50px;
    }
    #new{
        font-size: 25px;
    }
}

@media only screen and (max-width: 600px) {
    #new{
        font-size: 15px;
        margin: 10px 50px;
    }
    .front{
        width:60px;
    }
}
@media only screen and (max-width: 460px) {
    #new{
        margin: 10px 50px;
    }
    .front{
        width:60px;
        font-size: 60px;
    }
    .cards{
        height:70px;
    }
    img{
        width:45px;
        height:60px;
    }
    #new{
        font-size: 12px;    
    }
    #score{
        font-size: 2px;
        margin: 10px 40px;
    }
    #timer{
        font-size: 12px;
    }
}